# Python Data Types

## Built-in Data Types
    In programming, data type is an important concept.

    Variables can store data of different types, and different types can do different things.

    Python has the following data types built-in by default, in these categories:

##### Text Type:	str
##### Numeric Types:	int, float, complex
##### Sequence Types:	list, tuple, range
##### Mapping Type:	dict
##### Set Types:	set, frozenset
##### Boolean Type:	bool
##### Binary Types:	bytes, bytearray, memoryview
##### None Type:	NoneType

## Setting the Data Type

    In Python, the data type is set when you assign a value to a variable:

##### Example------------------------------Data Type	
##### x = "Hello World"	------------------------------ str	
##### x = 20 ------------------------------ int	
##### x = 20.5------------------------------float	
##### x = 1j------------------------------complex	
##### x = ["apple", "banana", "cherry"]------------------------------list	
##### x = ("apple", "banana", "cherry")------------------------------tuple	
##### x = range(6)------------------------------range	
##### x = {"name" : "John", "age" : 36}------------------------------dict	
##### x = {"apple", "banana", "cherry"}------------------------------set	
##### x = frozenset({"apple", "banana", "cherry"})------------------------------frozenset	
##### x = True------------------------------bool	
##### x = b"Hello"------------------------------bytes	
##### x = bytearray(5)------------------------------bytearray	
##### x = memoryview(bytes(5))------------------------------memoryview	
##### x = None------------------------------NoneType

## Setting the Specific Data Type

    If you want to specify the data type, you can use the following constructor functions:

In [2]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [3]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [4]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [5]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [6]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [9]:
x = dict(name="John", age=36)	
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [12]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [13]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [14]:
x = bool(5)	
print(x)
print(type(x))

True
<class 'bool'>

In [15]:
x = bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [16]:
x = bytearray(5)	
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [17]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001C8C342DA08>
<class 'memoryview'>

## Setting the Specific Data Type

In [15]:
x = str("Hello World")	
print(x)
print(type(x))

Hello World
<class 'str'>

In [16]:
x = int(20)	
print(x)
print(type(x))

20
<class 'int'>

In [17]:
x = float(20.5)	
print(x)
print(type(x))

20.5
<class 'float'>

In [18]:
x = complex(1j)	
print(x)
print(type(x))

1j
<class 'complex'>

In [19]:
x = list(("apple", "banana", "cherry"))	
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [20]:
x = tuple(("apple", "banana", "cherry"))	
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [21]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [22]:
x = dict(name="John", age=36)	
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [23]:
x = set(("apple", "banana", "cherry"))	
print(x)
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [24]:
x = frozenset(("apple", "banana", "cherry"))	
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [25]:
x = bool(5)	
print(x)
print(type(x))

True
<class 'bool'>

In [26]:
x = bytes(5)	
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [27]:
x = bytearray(5)	
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [28]:
x = memoryview(bytes(5))	
print(x)
print(type(x))

<memory at 0x0000019BDC39C348>
<class 'memoryview'>

## Python Numbers
There are three numeric types in Python:

    int
    float
    complex

In [29]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [32]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [34]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number
Python does not have a **random()** function to make a random number, but Python has a built-in module called **random** that can be used to make random numbers

In [35]:
import random

print(random.randrange(1, 10))

4

## Check String

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [41]:
a = "             Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [43]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [44]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [45]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [46]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [47]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [48]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [50]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Escape Characters

    \'	Single Quote	
    \\	Backslash	
    \n	New Line	
    \r	Carriage Return	
    \t	Tab	
    \b	Backspace	
    \f	Form Feed	
    \ooo	Octal value	
    \xhh	Hex value

## Python - String Methods

In [51]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [52]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [56]:
txt = "banana"

x = txt.center(50)

print(x)

                      banana

In [57]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [61]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple",0,20)

print(x)

2

In [63]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [65]:
v = "Naveenku`mar"

print(v.encode())

b'Naveenku`mar'

In [69]:
txt = "Hello, welcome. to my world."

x = txt.endswith(".")

print(x)

True

In [70]:
txt = "Hello, welcome. to my world."

x = txt.endswith(",")

print(x)

False

In [76]:
txt = "H\te\tl\tl\to"

print(txt)

x =  txt.expandtabs(2) #Optional. A number specifying the tabsize. Default tabsize is 8

print(x)

H	e	l	l	o
H e l l o

In [77]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [79]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [80]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [83]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [86]:
txt = "For only {price:.3f} dollars!"
print(txt.format(price = 49))

For only 49.000 dollars!

In [88]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [90]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<10} chickens."
print(txt.format(49))

We have 49         chickens.

In [100]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [102]:
print(f"We have {10:>8} chickens.")

We have       10 chickens.

In [109]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^10} chickens."
print(txt.format(49))

We have     49     chickens.

In [114]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [119]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [120]:
point = {'x':4,'y':-5}
print('{x} {y}'.format(**point))

4 -5

In [121]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

In [122]:
class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

In [123]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [124]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [125]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [131]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [132]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [133]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [134]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [135]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [136]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [137]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [139]:
txt = "Hello! Are you #1?`"

x = txt.isprintable()

print(x)

True

In [140]:
txt = "   "

x = txt.isspace()

print(x)

True

In [142]:
txt = "Hello, And Welcome To My World!" 

x = txt.istitle() # Check if each word start with an upper case letter

print(x)

True

In [143]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [144]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [145]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [146]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [153]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [154]:
txt = "banana"

x = txt.ljust(20,"D")

print(x, "is my favorite fruit.")

bananaDDDDDDDDDDDDDD is my favorite fruit.

In [155]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [157]:
txt = "             banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [159]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(mytable)
print(txt.translate(mytable))

{83: 80}
Hello Pam!

In [160]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [161]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [162]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [163]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [164]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [166]:
txt = "Mi casa, su ."

x = txt.rfind("casa")

print(x)

3

In [167]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [168]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [169]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [174]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [175]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [176]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [177]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [178]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [181]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [182]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [183]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [185]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [186]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [187]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [193]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

## Python Booleans

In [194]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [195]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [196]:
print(bool("Hello"))
print(bool(15))

True
True

In [197]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is **True**, **except empty strings**.

Any number is **True**, **except 0**.
    
Any **list, tuple, set, and dictionary are True**, **except empty ones**.

In [198]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as **(), [], {}, "", the number 0, and the value None**. And of course the **value False** evaluates to **False**

In [199]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a **__len\__** function that returns **0** or **False**

In [200]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean
You can create functions that returns a Boolean Value

In [201]:
def myFunction() :
  return True

print(myFunction())

True

Python also has many built-in functions that return a boolean value, like the **isinstance()** function, which can be used to determine if an object is of a certain data type

In [202]:
x = 200
print(isinstance(x, int))

True

## Python Operators

Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

### Python Arithmetic Operators

    Operator	Name	Example	
    +	Addition	   x + y	
    -	Subtraction	    x - y	
    *	Multiplication	x * y	
    /	Division	    x / y	
    %	Modulus	        x % y	
    **	Exponentiation	x ** y	
    //	Floor division	x // y

### Python Comparison Operators

    Operator	Name	                Example	
    ==	    Equal	                    x == y	
    !=	    Not equal	                x != y	
    >	    Greater than	            x > y	
    <	    Less than	                x < y	
    >=	    Greater than or equal to	x >= y	
    <=	    Less than or equal to	    x <= y

## Python Logical Operators

    Operator	Description	                                Example	
    and 	Returns True if both statements are true	x < 5 and  x < 10	
    or	Returns True if one of the statements is true	x < 5 or x < 4	
    not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

    Operator	Description	                                             Example	
    is 	        Returns True if both variables are the same object	    x is y	
    is not	    Returns True if both variables are not the same object	x is not y

In [204]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [203]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

## Python Membership Operators

Membership operators are used to test if a sequence is presented in an object

    Operator	Description	    Example
    in 	Returns True if a sequence with the specified value is present in the object	x in y	
    not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [205]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [206]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

## Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers

In [208]:
print(6 & 3)

"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [209]:
print(6 | 3)



"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [212]:
print(6 ^ 3)

"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [213]:
print(~3)

"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

'\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\nDecimal numbers and their binary values:\n 4 = 0000000000000100\n 3 = 0000000000000011\n 2 = 0000000000000010\n 1 = 0000000000000001\n 0 = 0000000000000000\n-1 = 1111111111111111\n-2 = 1111111111111110\n-3 = 1111111111111101\n-4 = 1111111111111100\n'

In [214]:
print(3 << 2)

"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

"\nThe << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:\n\nIf you push 00 in from the left:\n 3 = 0000000000000011\nbecomes\n12 = 0000000000001100\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [215]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

## List

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [4]:
list1 = ["abc", 34, True, 40, "male"]

In [5]:
print(type(list1))

<class 'list'>

In [6]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [7]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [14]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, ["watermelon","melon"])
print(thislist)

['apple', 'banana', ['watermelon', 'melon'], 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.append(["orange","mango"])
print(thislist)

['apple', 'banana', 'cherry', ['orange', 'mango']]

In [29]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [31]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
val = {"1":"one", "2":"two"}
thislist.extend(thistuple)
thislist.extend(val)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange', '1', '2']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [38]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
print(thislist.remove("banana"))
print(thislist)

None
['apple', 'cherry', 'banana', 'kiwi']

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [43]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]
del thislist

print(thislist)

NameError: name 'thislist' is not defined

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [1]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [48]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [49]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [2]:
thislist = ["apple", "banana", "cherry"]
[print(i) for i in thislist]

apple
banana
cherry

[None, None, None]

In [8]:
thislist = ["apple", "banana", "cherry"]
newlist = []
for i in thislist:
    if "a" in i:
        newlist.append(i)
print(newlist)

['apple', 'banana']

## List Comprehension

newlist = [expression for item in iterable if condition == True]

In [3]:
thislist = ["apple", "banana", "cherry"]
val = [i for i in thislist if i != "banana"]

print(val)

['apple', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
[i for i in thislist]

['apple', 'banana', 'cherry']

In [7]:
new_list = [x for x in range(10)]
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
thislist = ["apple", "orange", "cherry"]
[i if i == "orange" else "No such value" for i in thislist]

['No such value', 'orange', 'No such value']

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ["orange" if x == "banana" else x for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

## Python Sort List

In [3]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [4]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [5]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [6]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [7]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [8]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [9]:
thislist = ["banana","Banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Banana', 'Kiwi', 'Orange', 'banana', 'cherry']

In [10]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Copy a List

In [11]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## Join List

In [13]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [14]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.append(list2)

print(list1)

['a', 'b', 'c', [1, 2, 3]]

In [16]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [17]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for i in list2:
    list1.append(i)

print(list1)

['a', 'b', 'c', 1, 2, 3]

## Tuples

    - Tuple items are ordered, unchangeable, and allow duplicate values.
    - Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [4]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [5]:
mytuple = ("apple", "banana", "cherry")
print(len(mytuple))

3

In [6]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [9]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [10]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [5]:
def odddiff(n, numbers):
    pass

n  = int(input())
numbers = list(map(int,input().split())) # 10, 20, 30, 40, 50, 55, 66, 77, 99
total = 0
for i in numbers:
    if i%2==0:
        total -= 1
    else:
        total += 1

print(abs(total))

3

In [3]:
def countOddEvenDifference(n,numbers):
    total=0

    for i in numbers:
        if i%2 == 0:
           total = total - 1
        else:
            total = total + 1
    return total    
n = int(input())
numbers = list(map(int,input().split()))
print(countOddEvenDifference(n,numbers))

-1

In [6]:
values = list(map(int, input().split())) # 10 20 30 40 50 55 66 77 99
sum_even = 0
sum_odd = 0
for i in values:
    if i%2==0:
        sum_even += 1
    elif i%2 != 0:
        sum_odd += 1

print(sum_even, sum_odd)

6 3

In [7]:
values = list(map(int, input().split()))
sum = 0
for i in values:
    sum += i

print(sum)

15

In [8]:
val = int(input())
sum = 0
while val != 0:
    rem = val%10
    sum +=rem
    val //=10
print(sum)

15

In [14]:
val = "acdywfdsdegfrtedugi"
dict_count = {}
count = 0
for i in val:
    if i=="a"or i=="e"or i=="i"or i=="o"or i=="u":
        count += 1

print(count)

5

In [15]:
print(val[::-1])

igudetrfgedsdfwydca

In [20]:
val = "acdywfdsdegfrtedugi"
dict_count = {}.fromkeys("aeiou",0)
count = 0

for i in val:
    if i in dict_count:
        dict_count[i] += 1
print(dict_count)
        


# print(count)

{'a': 1, 'e': 2, 'i': 1, 'o': 0, 'u': 1}

In [21]:
arr = list(map(int, input().split())) # 10 20 30 40 50 55 66 77 99
k = int(input()) # 50
count = 0
for i in arr:
    if i>k:
        count += 1

print(count)

4

In [22]:
arr = list(map(int, input().split())) # 10 20 30 40 50 55 66 77 99
k = int(input()) # 5
count = 0
for i in arr:
    if i%k==0:
        count += 1

print(count)

6

In [24]:
val = list(map(int, input().split())) #  10 20 30 40 50 55 66 77 99
count = 0
for i in val:
    if i>0:
        count+=1
print(count)

7

In [2]:
val = list(map(int, input().split())) #  10 20 30 40 50 55 66 77 99
count = 0
for i in val:
    if i<0:
        count+=1
print(count)

2

In [4]:
val = int(input())
fact = 0
for i in range(2, val):
    if val%i==0:
        fact = 1
if fact == 0:
    print("Prime")
else:
    print("Not Prime")

Prime

In [9]:

val1 = int(input())
val2 = int(input())
primes = []
for i in range(val1, val2+1):
    fact = 0
    for j in range(2, i):  
        if i%j==0:
            fact = 1
    if fact == 0:
        primes.append(i)
        print(i,"-prime")
print(primes)

11 -prime
13 -prime
17 -prime
19 -prime
[11, 13, 17, 19]

In [13]:

# A naive solution for calculating sum of
# geometric series.
  
# function to calculate sum of 
# geometric series
def sumOfGP(a, r, n) :
      
    sum = 0
    i = 0
    while i < n :
        sum = sum + a
        a = a * r
        i = i + 1
      
    return sum
      
#driver function
  
a = 1 # first term
r = (float)(1/2.0) # common ratio
n = 10 # number of terms
          
print(sumOfGP(a, r, n))
print(r)
      
# This code is contributed by Nikita Tiwari

1.998046875
0.5

In [ ]:
start= 1
ratio = 2
count = 10