# Python Data Types

## Built-in Data Types
    In programming, data type is an important concept.

    Variables can store data of different types, and different types can do different things.

    Python has the following data types built-in by default, in these categories:

##### Text Type:	str
##### Numeric Types:	int, float, complex
##### Sequence Types:	list, tuple, range
##### Mapping Type:	dict
##### Set Types:	set, frozenset
##### Boolean Type:	bool
##### Binary Types:	bytes, bytearray, memoryview
##### None Type:	NoneType

## Setting the Data Type

    In Python, the data type is set when you assign a value to a variable:

##### Example------------------------------Data Type	
##### x = "Hello World"	------------------------------ str	
##### x = 20 ------------------------------ int	
##### x = 20.5------------------------------float	
##### x = 1j------------------------------complex	
##### x = ["apple", "banana", "cherry"]------------------------------list	
##### x = ("apple", "banana", "cherry")------------------------------tuple	
##### x = range(6)------------------------------range	
##### x = {"name" : "John", "age" : 36}------------------------------dict	
##### x = {"apple", "banana", "cherry"}------------------------------set	
##### x = frozenset({"apple", "banana", "cherry"})------------------------------frozenset	
##### x = True------------------------------bool	
##### x = b"Hello"------------------------------bytes	
##### x = bytearray(5)------------------------------bytearray	
##### x = memoryview(bytes(5))------------------------------memoryview	
##### x = None------------------------------NoneType

## Setting the Specific Data Type

    If you want to specify the data type, you can use the following constructor functions:

In [2]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [3]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [4]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [5]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [6]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [9]:
x = dict(name="John", age=36)	
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [12]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

In [13]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [14]:
x = bool(5)	
print(x)
print(type(x))

True
<class 'bool'>

In [15]:
x = bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [16]:
x = bytearray(5)	
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [17]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001C8C342DA08>
<class 'memoryview'>

## Setting the Specific Data Type

In [15]:
x = str("Hello World")	
print(x)
print(type(x))

Hello World
<class 'str'>

In [16]:
x = int(20)	
print(x)
print(type(x))

20
<class 'int'>

In [17]:
x = float(20.5)	
print(x)
print(type(x))

20.5
<class 'float'>

In [18]:
x = complex(1j)	
print(x)
print(type(x))

1j
<class 'complex'>

In [19]:
x = list(("apple", "banana", "cherry"))	
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [20]:
x = tuple(("apple", "banana", "cherry"))	
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [21]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [22]:
x = dict(name="John", age=36)	
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [23]:
x = set(("apple", "banana", "cherry"))	
print(x)
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [24]:
x = frozenset(("apple", "banana", "cherry"))	
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [25]:
x = bool(5)	
print(x)
print(type(x))

True
<class 'bool'>

In [26]:
x = bytes(5)	
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [27]:
x = bytearray(5)	
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [28]:
x = memoryview(bytes(5))	
print(x)
print(type(x))

<memory at 0x0000019BDC39C348>
<class 'memoryview'>

## Python Numbers
There are three numeric types in Python:

    int
    float
    complex

In [29]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [30]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [32]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [34]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## Random Number
Python does not have a **random()** function to make a random number, but Python has a built-in module called **random** that can be used to make random numbers

In [35]:
import random

print(random.randrange(1, 10))

4

## Check String

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [38]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [39]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [41]:
a = "             Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [43]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [44]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [45]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [46]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [47]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [48]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [50]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Escape Characters

    \'	Single Quote	
    \\	Backslash	
    \n	New Line	
    \r	Carriage Return	
    \t	Tab	
    \b	Backspace	
    \f	Form Feed	
    \ooo	Octal value	
    \xhh	Hex value

## Python - String Methods

In [51]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [52]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [56]:
txt = "banana"

x = txt.center(50)

print(x)

                      banana

In [57]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [61]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple",0,20)

print(x)

2

In [63]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [65]:
v = "Naveenku`mar"

print(v.encode())

b'Naveenku`mar'

In [69]:
txt = "Hello, welcome. to my world."

x = txt.endswith(".")

print(x)

True

In [70]:
txt = "Hello, welcome. to my world."

x = txt.endswith(",")

print(x)

False

In [76]:
txt = "H\te\tl\tl\to"

print(txt)

x =  txt.expandtabs(2) #Optional. A number specifying the tabsize. Default tabsize is 8

print(x)

H	e	l	l	o
H e l l o

In [77]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [79]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [80]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [83]:
#If the value is not found, the find() method returns -1, but the index() method will raise an exception

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [86]:
txt = "For only {price:.3f} dollars!"
print(txt.format(price = 49))

For only 49.000 dollars!

In [88]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [90]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<10} chickens."
print(txt.format(49))

We have 49         chickens.

In [100]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [102]:
print(f"We have {10:>8} chickens.")

We have       10 chickens.

In [109]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^10} chickens."
print(txt.format(49))

We have     49     chickens.

In [114]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [119]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [120]:
point = {'x':4,'y':-5}
print('{x} {y}'.format(**point))

4 -5

In [121]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

In [122]:
class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

In [123]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [124]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [125]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [131]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [132]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [133]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [134]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [135]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [136]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [137]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [139]:
txt = "Hello! Are you #1?`"

x = txt.isprintable()

print(x)

True

In [140]:
txt = "   "

x = txt.isspace()

print(x)

True

In [142]:
txt = "Hello, And Welcome To My World!" 

x = txt.istitle() # Check if each word start with an upper case letter

print(x)

True

In [143]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [144]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [145]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [146]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [153]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [154]:
txt = "banana"

x = txt.ljust(20,"D")

print(x, "is my favorite fruit.")

bananaDDDDDDDDDDDDDD is my favorite fruit.

In [155]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [157]:
txt = "             banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [159]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(mytable)
print(txt.translate(mytable))

{83: 80}
Hello Pam!

In [160]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [161]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [162]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [163]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [164]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [166]:
txt = "Mi casa, su ."

x = txt.rfind("casa")

print(x)

3

In [167]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [168]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [169]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [174]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [175]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [176]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [177]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [178]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [181]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [182]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [183]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [185]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [186]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [187]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [193]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000