# Strings and its functions

In [1]:
print("Naveen is a Data Scientist")

Naveen is a Data Scientist

In [3]:
info = "Naveen is a Data Scientist"
print(info)

Naveen is a Data Scientist

In [5]:
print("Naveen's Data Science Company")

Naveen's Data Science Company

In [6]:
print('Naveen\'s Data Science Company')

Naveen's Data Science Company

In [7]:
info = '''Naveen\'s Data
Science Company'''
print(info)

Naveen's Data
Science Company

In [10]:
#Length of String

info = "Naveen's Data Science Company"
print(len(info))

29

In [14]:
#to access particular character from the string
info = "Naveen's Data Science Company"
print(info[0])
print(info[5])
print(info[15])
print(info[-1])
print(info[-6])

N
n
c
y
o

In [24]:
#To print set of characters
info = "Naveen's Data Science Company"
print(info[:])
print(info[:15])
print(info[3:5])
print(info[:-1])
print(info[-1:-15])
print(info[-6:-1])

Naveen's Data Science Company
Naveen's Data S
ee
Naveen's Data Science Compan

ompan

In [25]:
#convert string to lower case
info = "Naveen's Data Science Company"
print(info.lower())

naveen's data science company

In [26]:
#convert string to upper case
info = "Naveen's Data Science Company"
print(info.upper())

NAVEEN'S DATA SCIENCE COMPANY

In [29]:
#to find the position of particular string value
info = "Naveen's Data Science Company"
print(info.find("D"))
print(info.find("Data"))
print(info.find("X"))

9
9
-1

In [30]:
#To replace a new word in the String
info = "Naveen's Data Science Company"
print(info.replace("Data Science", "Machine Learning"))

Naveen's Machine Learning Company

In [32]:
#To concatanate two strings
info = "Naveen's"
info_in = "Data Science Company"
print(info+info_in)
print(info+" "+info_in)

Naveen'sData Science Company
Naveen's Data Science Company

In [33]:
#To format the string
info = "Naveen"
info_in = "Data Science"
print("{} this is {} domain".format(info, info_in))

Naveen this is Data Science domain

In [34]:
#To format the string using fstring
info = "Naveen"
info_in = "Data Science"
print(f"{info} this is {info_in} domain")

Naveen this is Data Science domain

In [35]:
#To see methods and attributes associated with String
info = "Naveen's Data Science Company"
print(dir(info))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [39]:
#To get information about the attribute
info = "Naveen's Data Science Company"
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

# Int and Float (Numeric data)

Arithmatic Operators:

    + -------> Addition
    - -------> Subtraction
    * -------> Multiplication
    ** -------> Exponent
    / -------> Division
    // -------> Floor Division
    % -------> Modulus
    
Arithmatic Assignment Operators:

    += -------> Addition
    -= -------> Subtraction
    *= -------> Multiplication
    **= -------> Exponent
    /= -------> Division
    //= -------> Floor Division
    %= -------> Modulus

Relational Operators:

    > -------> Greater than
    < -------> Less than
    >= -------> Greater than equal to
    <= -------> Less than equal to
    == -------> Equal to
    != -------> Not equal to

In [40]:
num1 = 30
num2 = 10
print(num1+num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1-num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1*num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1**num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1/num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1//num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1%num2)
print("=========================================")

40
=========================================
20
=========================================
300
=========================================
590490000000000
=========================================
3.0
=========================================
3
=========================================
0
=========================================

In [45]:
#To increment and decrement values:
num = 10
num = num+1
print(num)
print("----------------------------")
num = 10
num+=1
print(num)
print("----------------------------")
num = 10
num = num-1
print(num)
print("----------------------------")
num = 10
num-=1
print(num)
print("----------------------------")

11
----------------------------
11
----------------------------
9
----------------------------
9
----------------------------

In [49]:
#Built in functions in python

print(abs(-20))
print(round(23.23434543564))
print(round(23.234353453454323422, 3))
print(bin(5))

20
23
23.234
0b101

In [50]:
#To concate the strings
num1 = '100'
num2 = '50'
print(num1+num2)

10050

In [53]:
#typecasting the string to integer
num1 = '100'
num2 = '50'
num3 = '100.45'
num4 = '23.23435434534534'
print(int(num1) + int(num2))
print(float(num3) + float(num4))
print(float(num3) + int(num2))

150
123.68435434534534
150.45

# List in Python
    -> collection data type
    -> ordered collection
    -> mutable
    -> A list can contain strings, integer, float, list within list, and tuple within list

In [55]:
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept)

['Hr', 'Finance', 'IT', 'Admin']

In [62]:
#To access particular value from the list
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept[0])
print(dept[-1])
print(dept[-3])
print(dept[1:4])

Hr
Admin
Finance
['Finance', 'IT', 'Admin']

# Built in methods in python

In [1]:
dept = ["Hr", "Finance", "IT", "Admin"]
dept.append("CEO")
print(dept)
dept_cpy = dept.copy()
print(dept_cpy)
dept.clear()
print(dept)

['Hr', 'Finance', 'IT', 'Admin', 'CEO']
['Hr', 'Finance', 'IT', 'Admin', 'CEO']
[]

In [2]:
#To store the values on new list to the old list as same list
dept = ["Hr", "Finance", "IT", "Admin"]
dept_1 = ["CEO", "Training"]
dept.append(dept_1)
print(dept)
dept.extend(dept_1)
print(dept)

['Hr', 'Finance', 'IT', 'Admin', ['CEO', 'Training']]
['Hr', 'Finance', 'IT', 'Admin', ['CEO', 'Training'], 'CEO', 'Training']

In [3]:
#To find the position of value in the list
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.index('Hr'))
print(dept.index('IT'))

0
2

In [4]:
#To take out particular value from the List
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.pop(3))
print(dept.pop(1))
print(dept)

Admin
Finance
['Hr', 'IT']

In [5]:
#To remove a value from the List
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.remove("IT"))
print(dept)

None
['Hr', 'Finance', 'Admin']

In [6]:
#To add a values to anywhere in the List
dept = ['Hr', 'Finance', 'Admin']
dept.insert(1, "IT")
print(dept)

['Hr', 'IT', 'Finance', 'Admin']

In [7]:
 #To sort the list in ascending order
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.sort()
print(dept)

['Admin', 'Finance', 'Hr', 'IT']

In [8]:
#To sort the list in descending order
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.sort(reverse = True)
print(dept)

['IT', 'Hr', 'Finance', 'Admin']

In [9]:
#To reverse the list
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.reverse()
print(dept)

['Admin', 'Finance', 'IT', 'Hr']

In [10]:
#To count the repitition of elements in the list
num_lst = [1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9]
print(num_lst.count(1))
print(num_lst.count(3))
print(num_lst.count(4))
print(num_lst.count(5))

5
1
2
2

In [11]:
#To find the min, max, sum of the list
num_lst = [1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9]
print(min(num_lst))
print(max(num_lst))
print(sum(num_lst))

1
567
724

# Tuple in python
    -> Tuple consist of string, integer, float
    -> It is one of the collection datatype in python
    -> list and tuple are used to store the data alone but list in mutable and tuple is immutable
    -> Tuple are ordered sequence

In [12]:
tup = (1,23,34,45,56,67,78,89)
print(tup)

(1, 23, 34, 45, 56, 67, 78, 89)

In [13]:
#To access particular value in tuple
tup = (1,23,34,45,56,67,78,89)
print(tup[4])
print(tup[7])
print(tup[6])
print(tup[2])

56
89
78
34

In [14]:
#To print a range of values
tup = (1,23,34,45,56,67,78,89)
print(tup[:])
print(tup[0:3])
print(tup[:-1])
print(tup[-6:-1])

(1, 23, 34, 45, 56, 67, 78, 89)
(1, 23, 34)
(1, 23, 34, 45, 56, 67, 78)
(34, 45, 56, 67, 78)

# Built in methods in python

In [15]:
#To count the number of occurance of particular value
tup = (1,23,34,45,56,23,78,89)
print(tup.count(23))
print(tup.count(34))

2
1

In [16]:
#To find the postion of values in tuple
tup = (1,23,34,45,23,67,78,89)
print(tup.index(23))

1

In [17]:
#To find the length, min, max, sum of the list
num_lst = (1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9)
print(len(num_lst))
print(min(num_lst))
print(max(num_lst))
print(sum(num_lst))

18
1
567
724

In [18]:
#To do sort the value
num_lst = (1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9)
print(sorted(num_lst))

[1, 1, 1, 1, 1, 3, 4, 4, 5, 5, 6, 6, 7, 7, 7, 9, 89, 567]

# Set in python 
    -> It is unordered collection of data and doesnot allow duplication 
    -> Common use of set is membership testing and removing duplication
    -> Cannot do indexing and slicing

In [19]:
my_set = {123, 2343, 454, 56756, 67}
print(my_set)

{67, 56756, 454, 2343, 123}

In [20]:
#To add a value into set
my_set = {123, 2343, 454, 56756, 67}
my_set.add(32)
print(my_set)

{32, 67, 56756, 454, 2343, 123}

In [26]:
#To remove a value from the set
my_set = {123, 2343, 454, 56756, 67}
my_set.remove(123)
print(my_set)

{67, 56756, 454, 2343}

In [28]:
my_set = {123, 2343, 454, 56756, 67}
my_set.discard(454)
print(my_set)

{67, 56756, 2343, 123}

In [35]:
#To pop out a particular value
my_set = {123, 2343, 454, 56756, 67}
print(my_set.pop())
print(my_set.pop())
print(my_set)

67
56756
{454, 2343, 123}

In [36]:
#To check the set2 is the subset of set1
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454}
set1.issubset(my_set)

True

In [38]:
#To clear the entire set
my_set = {123, 2343, 454, 56756, 67}
print(my_set)
my_set.clear()
print(my_set)

{67, 56756, 454, 2343, 123}
set()

In [39]:
#To find the common values in the sets given
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.intersection(set1))

{123, 454}

In [41]:
#To find the difference between two sets
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.difference(set1))
print(set1.difference(my_set))

{67, 56756, 2343}
{100, 456789, 23}

In [43]:
#To find all the values of the set
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.union(set1))
print(set1.union(my_set))

{67, 100, 454, 2343, 56756, 456789, 23, 123}
{67, 100, 454, 2343, 56756, 456789, 23, 123}

In [44]:
#To skip the values that are similar in both the sets
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.symmetric_difference(set1))

{67, 100, 456789, 23, 56756, 2343}

# Dictionary in python
    -> It is a collection datatype
    -> It allows you to work with key value packs

In [45]:
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee)

{'Name': 'Naveen', 'Age': 21, 'Salary': 800000}

In [47]:
#To fetch the particular value 
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee["Name"])
print(employee["Age"])
print(employee["Salary"])

Naveen
21
800000

In [50]:
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.get("Name"))
print(employee.get("location"))
print(employee.get("location", "Not Found"))

Naveen
None
Not Found

In [53]:
#To add new information into the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee["Location"] = "Not defined"
print(employee)

{'Name': 'Naveen', 'Age': 21, 'Salary': 800000, 'Location': 'Not defined'}

In [55]:
#To pop the values from the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.pop("Name"))
print(employee.pop("Age"))

Naveen
21

In [57]:
#To know all the keys in the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.keys())

dict_keys(['Name', 'Age', 'Salary'])

In [58]:
#To know all the values in the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.values())

dict_values(['Naveen', 21, 800000])

In [59]:
#To know all the keys and values of the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.items())

dict_items([('Name', 'Naveen'), ('Age', 21), ('Salary', 800000)])

In [61]:
#To update the value of the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee["Age"] = "22"
print(employee)

{'Name': 'Naveen', 'Age': '22', 'Salary': 800000}

In [62]:
#To clear the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee.clear()
print(employee)

{}