# Strings and its functions

In [1]:
print("Naveen is a Data Scientist")

Naveen is a Data Scientist

In [2]:
info = "Naveen is a Data Scientist"
print(info)

Naveen is a Data Scientist

In [3]:
print("Naveen's Data Science Company")

Naveen's Data Science Company

In [4]:
print('Naveen\'s Data Science Company')

Naveen's Data Science Company

In [5]:
info = '''Naveen\'s Data
Science Company'''
print(info)

Naveen's Data
Science Company

In [6]:
#Length of String

info = "Naveen's Data Science Company"
print(len(info))

29

In [7]:
#to access particular character from the string
info = "Naveen's Data Science Company"
print(info[0])
print(info[5])
print(info[15])
print(info[-1])
print(info[-6])

N
n
c
y
o

In [24]:
#To print set of characters
info = "Naveen's Data Science Company"
print(info[:])
print(info[:15])
print(info[3:5])
print(info[:-1])
print(info[-1:-15])
print(info[-6:-1])

Naveen's Data Science Company
Naveen's Data S
ee
Naveen's Data Science Compan

ompan

In [25]:
#convert string to lower case
info = "Naveen's Data Science Company"
print(info.lower())

naveen's data science company

In [26]:
#convert string to upper case
info = "Naveen's Data Science Company"
print(info.upper())

NAVEEN'S DATA SCIENCE COMPANY

In [29]:
#to find the position of particular string value
info = "Naveen's Data Science Company"
print(info.find("D"))
print(info.find("Data"))
print(info.find("X"))

9
9
-1

In [30]:
#To replace a new word in the String
info = "Naveen's Data Science Company"
print(info.replace("Data Science", "Machine Learning"))

Naveen's Machine Learning Company

In [32]:
#To concatanate two strings
info = "Naveen's"
info_in = "Data Science Company"
print(info+info_in)
print(info+" "+info_in)

Naveen'sData Science Company
Naveen's Data Science Company

In [33]:
#To format the string
info = "Naveen"
info_in = "Data Science"
print("{} this is {} domain".format(info, info_in))

Naveen this is Data Science domain

In [34]:
#To format the string using fstring
info = "Naveen"
info_in = "Data Science"
print(f"{info} this is {info_in} domain")

Naveen this is Data Science domain

In [35]:
#To see methods and attributes associated with String
info = "Naveen's Data Science Company"
print(dir(info))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [1]:
#To get information about the attribute
info = "Naveen's Data Science Company"
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

# Int and Float (Numeric data)

Arithmatic Operators:

    + -------> Addition
    - -------> Subtraction
    * -------> Multiplication
    ** -------> Exponent
    / -------> Division
    // -------> Floor Division
    % -------> Modulus
    
Arithmatic Assignment Operators:

    += -------> Addition
    -= -------> Subtraction
    *= -------> Multiplication
    **= -------> Exponent
    /= -------> Division
    //= -------> Floor Division
    %= -------> Modulus

Relational Operators:

    > -------> Greater than
    < -------> Less than
    >= -------> Greater than equal to
    <= -------> Less than equal to
    == -------> Equal to
    != -------> Not equal to

In [40]:
num1 = 30
num2 = 10
print(num1+num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1-num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1*num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1**num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1/num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1//num2)
print("=========================================")
num1 = 30
num2 = 10
print(num1%num2)
print("=========================================")

40
=========================================
20
=========================================
300
=========================================
590490000000000
=========================================
3.0
=========================================
3
=========================================
0
=========================================

In [45]:
#To increment and decrement values:
num = 10
num = num+1
print(num)
print("----------------------------")
num = 10
num+=1
print(num)
print("----------------------------")
num = 10
num = num-1
print(num)
print("----------------------------")
num = 10
num-=1
print(num)
print("----------------------------")

11
----------------------------
11
----------------------------
9
----------------------------
9
----------------------------

In [49]:
#Built in functions in python

print(abs(-20))
print(round(23.23434543564))
print(round(23.234353453454323422, 3))
print(bin(5))

20
23
23.234
0b101

In [50]:
#To concate the strings
num1 = '100'
num2 = '50'
print(num1+num2)

10050

In [53]:
#typecasting the string to integer
num1 = '100'
num2 = '50'
num3 = '100.45'
num4 = '23.23435434534534'
print(int(num1) + int(num2))
print(float(num3) + float(num4))
print(float(num3) + int(num2))

150
123.68435434534534
150.45

# List in Python
    -> collection data type
    -> ordered collection
    -> mutable
    -> A list can contain strings, integer, float, list within list, and tuple within list

In [55]:
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept)

['Hr', 'Finance', 'IT', 'Admin']

In [62]:
#To access particular value from the list
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept[0])
print(dept[-1])
print(dept[-3])
print(dept[1:4])

Hr
Admin
Finance
['Finance', 'IT', 'Admin']

# Built in methods in python

In [1]:
dept = ["Hr", "Finance", "IT", "Admin"]
dept.append("CEO")
print(dept)
dept_cpy = dept.copy()
print(dept_cpy)
dept.clear()
print(dept)

['Hr', 'Finance', 'IT', 'Admin', 'CEO']
['Hr', 'Finance', 'IT', 'Admin', 'CEO']
[]

In [2]:
#To store the values on new list to the old list as same list
dept = ["Hr", "Finance", "IT", "Admin"]
dept_1 = ["CEO", "Training"]
dept.append(dept_1)
print(dept)
dept.extend(dept_1)
print(dept)

['Hr', 'Finance', 'IT', 'Admin', ['CEO', 'Training']]
['Hr', 'Finance', 'IT', 'Admin', ['CEO', 'Training'], 'CEO', 'Training']

In [3]:
#To find the position of value in the list
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.index('Hr'))
print(dept.index('IT'))

0
2

In [4]:
#To take out particular value from the List
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.pop(3))
print(dept.pop(1))
print(dept)

Admin
Finance
['Hr', 'IT']

In [13]:
#To remove a value from the List
dept = ["Hr", "Finance", "IT", "Admin"]
print(dept.remove("IT"))
print(dept)

None
['Hr', 'Finance', 'Admin']

In [9]:
#To add a values to anywhere in the List
dept = ['Hr', 'Finance', 'Admin']
dept.insert(1, "IT")
print(dept)

['Hr', 'IT', 'Finance', 'Admin']

In [7]:
 #To sort the list in ascending order
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.sort()
print(dept)

['Admin', 'Finance', 'Hr', 'IT']

In [8]:
#To sort the list in descending order
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.sort(reverse = True)
print(dept)

['IT', 'Hr', 'Finance', 'Admin']

In [9]:
#To reverse the list
dept = ['Hr', 'IT', 'Finance', 'Admin']
dept.reverse()
print(dept)

['Admin', 'Finance', 'IT', 'Hr']

In [10]:
#To count the repitition of elements in the list
num_lst = [1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9]
print(num_lst.count(1))
print(num_lst.count(3))
print(num_lst.count(4))
print(num_lst.count(5))

5
1
2
2

In [11]:
#To find the min, max, sum of the list
num_lst = [1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9]
print(min(num_lst))
print(max(num_lst))
print(sum(num_lst))

1
567
724

# Tuple in python
    -> Tuple consist of string, integer, float
    -> It is one of the collection datatype in python
    -> list and tuple are used to store the data alone but list is mutable and tuple is immutable
    -> Tuple are ordered sequence

In [14]:
tup = (1,23,34,45,56,67,78,89)
print(tup)

(1, 23, 34, 45, 56, 67, 78, 89)

In [13]:
#To access particular value in tuple
tup = (1,23,34,45,56,67,78,89)
print(tup[4])
print(tup[7])
print(tup[6])
print(tup[2])

56
89
78
34

In [14]:
#To print a range of values
tup = (1,23,34,45,56,67,78,89)
print(tup[:])
print(tup[0:3])
print(tup[:-1])
print(tup[-6:-1])

(1, 23, 34, 45, 56, 67, 78, 89)
(1, 23, 34)
(1, 23, 34, 45, 56, 67, 78)
(34, 45, 56, 67, 78)

# Built in methods in python

In [15]:
#To count the number of occurance of particular value
tup = (1,23,34,45,56,23,78,89)
print(tup.count(23))
print(tup.count(34))

2
1

In [16]:
#To find the postion of values in tuple
tup = (1,23,34,45,23,67,78,89)
print(tup.index(23))

1

In [17]:
#To find the length, min, max, sum of the list
num_lst = (1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9)
print(len(num_lst))
print(min(num_lst))
print(max(num_lst))
print(sum(num_lst))

18
1
567
724

In [18]:
#To do sort the value
num_lst = (1,1,1,1,1,3,4,4,5,6,7,7,5,567,6,7,89,9)
print(sorted(num_lst))

[1, 1, 1, 1, 1, 3, 4, 4, 5, 5, 6, 6, 7, 7, 7, 9, 89, 567]

# Set in python 
    -> It is unordered collection of data and doesnot allow duplication 
    -> Common use of set is membership testing and removing duplication
    -> Cannot do indexing and slicing

In [19]:
my_set = {123, 2343, 454, 56756, 67}
print(my_set)

{67, 56756, 454, 2343, 123}

In [20]:
#To add a value into set
my_set = {123, 2343, 454, 56756, 67}
my_set.add(32)
print(my_set)

{32, 67, 56756, 454, 2343, 123}

In [26]:
#To remove a value from the set
my_set = {123, 2343, 454, 56756, 67}
my_set.remove(123)
print(my_set)

{67, 56756, 454, 2343}

In [28]:
my_set = {123, 2343, 454, 56756, 67}
my_set.discard(454)
print(my_set)

{67, 56756, 2343, 123}

In [35]:
#To pop out a particular value
my_set = {123, 2343, 454, 56756, 67}
print(my_set.pop())
print(my_set.pop())
print(my_set)

67
56756
{454, 2343, 123}

In [36]:
#To check the set2 is the subset of set1
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454}
set1.issubset(my_set)

True

In [38]:
#To clear the entire set
my_set = {123, 2343, 454, 56756, 67}
print(my_set)
my_set.clear()
print(my_set)

{67, 56756, 454, 2343, 123}
set()

In [39]:
#To find the common values in the sets given
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.intersection(set1))

{123, 454}

In [41]:
#To find the difference between two sets
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.difference(set1))
print(set1.difference(my_set))

{67, 56756, 2343}
{100, 456789, 23}

In [43]:
#To find all the values of the set
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.union(set1))
print(set1.union(my_set))

{67, 100, 454, 2343, 56756, 456789, 23, 123}
{67, 100, 454, 2343, 56756, 456789, 23, 123}

In [44]:
#To skip the values that are similar in both the sets
my_set = {123, 2343, 454, 56756, 67}
set1 = {123, 454, 23, 100, 456789}
print(my_set.symmetric_difference(set1))

{67, 100, 456789, 23, 56756, 2343}

# Dictionary in python
    -> It is a collection datatype
    -> It allows you to work with key value packs

In [1]:
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee)

{'Name': 'Naveen', 'Age': 21, 'Salary': 800000}

In [13]:
#To fetch the particular value 
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee["Name"])
print(employee["Age"])
print(employee["Salary"])
#print(employee["location"])

Naveen
21
800000

In [16]:
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.get("Name"))
print(employee.get("location"))
print(employee.get("location", "Not Found"))

Naveen
None
Not Found

In [4]:
#To add new information into the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee["Location"] = "Not defined"
print(employee)

{'Name': 'Naveen', 'Age': 21, 'Salary': 800000, 'Location': 'Not defined'}

In [17]:
#To pop the values from the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.pop("Name"))
print(employee.pop("Age"))
print(employee)

Naveen
21
{'Salary': 800000}

In [6]:
#To know all the keys in the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.keys())

dict_keys(['Name', 'Age', 'Salary'])

In [7]:
#To know all the values in the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.values())

dict_values(['Naveen', 21, 800000])

In [8]:
#To know all the keys and values of the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
print(employee.items())

dict_items([('Name', 'Naveen'), ('Age', 21), ('Salary', 800000)])

In [9]:
#To update the value of the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee["Age"] = "22"
print(employee)

{'Name': 'Naveen', 'Age': '22', 'Salary': 800000}

In [10]:
#To clear the dictionary
employee = {"Name" : "Naveen", "Age" : 21, "Salary" : 800000}
employee.clear()
print(employee)

{}

# Control Statement
    -> if statements
    -> if else statements
    -> elif statements

In [19]:
name = "Naveen"
if name == "Naveen":
    print("Welcome, ",name)
else:
    print("Welcome, what is your name")

Welcome,  Naveen

In [23]:
name = input("Enter the name: ")
if name == "Naveen":
    print("Welcome, ",name)
elif name == "Kumar":
    print("Welcome", name)
else:
    print("Welcome, what is your name...")

Enter the name: Edi
Welcome, what is your name...

In [1]:
name = input("Enter the name: ")
age = int(input("Enter the age: "))
if name == "Naveen" and age == 21:
    print("Qualified...")
elif name == "Kumar" and age == 22:
    print("Qualified...")
else:
    print("Sorry, you are not qualified...")

Enter the name: Naveen
Enter the age: 21
Qualified...

In [5]:
age = int(input("Enter the age: "))
if not age < 18:
    print("eligible")

Enter the age: 21
eligible

# Loop
    -> It is used to repeat some progress again and again 
    -> There are two loops in python
    -> for loop
    -> while loop

# For loop

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10, -11, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [12]:
for i in range(10, -11, -1):
    if i == 0:
        continue
    print(i)

10
9
8
7
6
5
4
3
2
1
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [3]:
for i in range(10, -11, -1):
    if i == 0:
        break
    print(i)

10
9
8
7
6
5
4
3
2
1

# While loop

In [2]:
i = 0
while i <= 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [4]:
i = 0
while i <= 10:
    if i == 5:
        i+=1
        continue
    print(i)
    i+=1

0
1
2
3
4
6
7
8
9
10

In [5]:
i = 0
while i <= 10:
    if i == 5:
        i+=1
        break
    print(i)
    i+=1

0
1
2
3
4

# Functions
    -> It is a set of specific instructions used to carry out some specific tasks
    -> It is a set of instructions bounded or packed together to do some specific task

In [6]:
def func():
    print("Inside the function")
    
func()

Inside the function

In [8]:
num1 = int(input("Enter the num1 :"))
num2 = int(input("Enter the num2 :"))
def sum(n1, n2):
    sum = 0
    sum = n1+n2
    print(sum)
    
sum(num1, num2)

Enter the num1 :21
Enter the num2 :12
33

In [10]:
num1 = int(input("Enter the num1 :"))
num2 = int(input("Enter the num2 :"))
def sum(n1, n2):
    sum = 0
    sum = n1+n2
    return sum
    
print(sum(num1, num2))

Enter the num1 :12
Enter the num2 :21
33

In [4]:
#To pass n number of arguments to function
def sumofno(*v):
    print(type(v))
    sum = 0
    for i in v:
        sum = sum + i
    return sum

print(sumofno(1,2,3,4,5,6,7,8,9,0))

<class 'tuple'>
45

In [5]:
#To pass n number of arguments to function
def sumofno(*v):
    print(type(v))
    return sum(v)

print(sumofno(1,2,3,4,5,6,7,8,9,0))

<class 'tuple'>
45

In [10]:
def p_all(**kw):
    print(type(kw))
    for k, v in kw.items():
        print(f"{k} is {v}")
    
p_all(FirstName = "Naveen", LastName = "kumar", Age= 21)

<class 'dict'>
FirstName is Naveen
LastName is kumar
Age is 21

In [9]:
def p_all(**kw):
    print(type(kw))
    for k, v in kw.items():
        print(f"{k} is {v}")
    
dict_ = {'FirstName' : 'Naveen', 'LastName' : 'kumar', 'Age' : 21}
p_all(**dict_)

<class 'dict'>
FirstName is Naveen
LastName is kumar
Age is 21

In [21]:
def b_type(*v, **kw):
    print(type(v))
    print(type(kw))
    sum = 0
    for i in v:
        print(i)
    for i in v:
        sum = sum + i
    print("Total sum is: ", sum)
    for k,w in kw.items():
        print(f"{k} is {w}")
    
b_type(1,2,3,4,5,6,FirstName = "Naveen", LastName = "kumar", Age= 21)

<class 'tuple'>
<class 'dict'>
1
2
3
4
5
6
Total sum is:  21
FirstName is Naveen
LastName is kumar
Age is 21

In [15]:
def b_type(*v, **kw):
    print(type(v))
    print(type(kw))
    sum = 0
    for i in v:
        print(i)
    for i in v:
        sum = sum + i
    print("Total sum is: ", sum)
    for k,w in kw.items():
        print(f"{k} is {w}")
    
list_ = [1,2,3,4,5,6]
dict_ = {'FirstName' : 'Naveen', 'LastName' : 'kumar', 'Age' : 21}
b_type(*list_,**dict_)

<class 'tuple'>
<class 'dict'>
1
2
3
4
5
6
Total sum is:  21
FirstName is Naveen
LastName is kumar
Age is 21

# Split Function

In [25]:
str_clr = "Green Red Blue Yellow"
print(str_clr)
print(str_clr.split())

Green Red Blue Yellow
['Green', 'Red', 'Blue', 'Yellow']

In [38]:
str_clr = "Green#Red#Blue#Yellow"
print(str_clr)
str_ = str_clr.split("#")
print(str_)

Green#Red#Blue#Yellow
['Green', 'Red', 'Blue', 'Yellow']

In [22]:
str_clr = "Green#Red#Blue#Yellow"
print(str_clr) 
print(str_clr.split("#", 2))

Green#Red#Blue#Yellow
['Green', 'Red', 'Blue#Yellow']

In [47]:
sentence = input("Enter the string: ").split()
sentence

Enter the string: This video is viral due to the person who was present in that video

['This',
 'video',
 'is',
 'viral',
 'due',
 'to',
 'the',
 'person',
 'who',
 'was',
 'present',
 'in',
 'that',
 'video']

# Join Function
    -> Used to convert the given list into string

In [48]:
lst_dept = ["Hr", "Finance", "IT", "Admin"]
str_dept = " ".join(lst_dept)
print(str_dept)

Hr Finance IT Admin

In [50]:
lst_dept = ["Hr", "Finance", "IT", "Admin"]
str_dept = ",   ".join(lst_dept)
print(str_dept)

Hr,   Finance,   IT,   Admin

# Zip Function
    -> It is used to pack two or more object as a single object
    -> It is not converted to list, tuple, set
    -> Using Zip we can convert it to list, dict and generally transformed to tuple

In [2]:
lst1 = [1,2,3,4,5,6,7,8,9]
lst2 = [9,8,7,6,5,4,3,2,1]
lst3 = []

val = zip(lst1, lst2)
for val1, val2 in val:
    lst3.append(val1 + val2)
    
print(lst3)

[10, 10, 10, 10, 10, 10, 10, 10, 10]

In [21]:
key = ("Name", "Age", "Salary")
value = ("Naveenkumar", 21, 1000000)
dict_val = dict(zip(key, value))
print(dict_val)

{'Name': 'Naveenkumar', 'Age': 21, 'Salary': 1000000}

In [22]:
key = ("Name", "Age", "Salary")
value = ("Naveenkumar", 21, 1000000)
dict_val = {}

for i, v in zip(key, value):
    dict_val[i] = v

print(dict_val)

{'Name': 'Naveenkumar', 'Age': 21, 'Salary': 1000000}

# Enumerate Function
    -> Zip and Enum is used to pack the data into an object.
    -> Then we can typecast to list, tuple, set, dictionary with the help of keyword

In [26]:
dept = ["Hr", "Finance", "IT", "Admin"]
print(list(enumerate(dept)))

[(0, 'Hr'), (1, 'Finance'), (2, 'IT'), (3, 'Admin')]

In [27]:
dept = ["Hr", "Finance", "IT", "Admin"]
print(list(enumerate(dept, start = 5)))

[(5, 'Hr'), (6, 'Finance'), (7, 'IT'), (8, 'Admin')]

In [28]:
dept = ["Hr", "Finance", "IT", "Admin"]
for i, v in list(enumerate(dept)):
    print(f"{i} is {v}")

0 is Hr
1 is Finance
2 is IT
3 is Admin

# List Comprehension

In [29]:
mylst = [ 1,2,3,4,5,6,7,8,9]
sqlst = [i**2 for i in mylst]
print(sqlst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
mylst = [ 1,2,3,4,5,6,7,8,9]
sqlst = [i**2 for i in mylst]
sqsqlst = [i**2 for i in sqlst]
print(sqlst)
print(sqsqlst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [55]:
#nested list comprehension
mylst = [ 1,2,3,4,5,6,7,8,9]
sqsqlst = [i**2 for i in [i**2 for i in mylst]]
print(sqsqlst)

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [56]:
#giving formulas inside the list comrehension
celcius = [1,2,3,4,5,6,7,8,9]
farenheit = [5/9*i+32 for i in celcius]
print(farenheit)

[32.55555555555556, 33.111111111111114, 33.666666666666664, 34.22222222222222, 34.77777777777778, 35.333333333333336, 35.888888888888886, 36.44444444444444, 37.0]

In [57]:
#to print square of even number and cube for odd number
mylst = [ 1,2,3,4,5,6,7,8,9]
sq_cube_lst = [i**2 if i%2==0 else i**3 for i in mylst]
print(sq_cube_lst)

[1, 4, 27, 16, 125, 36, 343, 64, 729]

# Set Comprehension
    -> Both the list and set are same the only change is that the brackets used
    -> for set we tend to use the {} braces

# Dictionary Comprehension

In [61]:
key = ('Maths', 'Computer Science', 'Physics', 'Chemistry')
value = [190, 200, 180, 185]
dict_count = dict(zip(key, value))
print(dict_count)

{'Maths': 190, 'Computer Science': 200, 'Physics': 180, 'Chemistry': 185}

In [64]:
key = ('Maths', 'Computer Science', 'Physics', 'Chemistry')
value = [190, 200, 180, 185]
dict_count = dict(zip(key, value))
dict_comp = { i : v//2 for i, v in zip(key, value)}
print(dict_count)
print(dict_comp)

{'Maths': 190, 'Computer Science': 200, 'Physics': 180, 'Chemistry': 185}
{'Maths': 95, 'Computer Science': 100, 'Physics': 90, 'Chemistry': 92}

# Lambda Function
    -> LAMBDA is an important thing in python.
    -> It is used to create anonymous function called a function without the name.
    -> It takes only one statement and cannot be reused, whereas function takes many statements and can be reused.
    -> It can be used as a substitute of single line statements.

In [65]:
def sq(num):
    return num**2

print(sq(10))

100

In [23]:
sq = lambda num: num**2
print(sq(10))

100

# Map Function
    -> It is used to map an function to an iterable object.

## Problem related to Numbers

In [4]:
# Positive or Negative number

num = int(input("Enter the Integer : "))
if num>0:
    print("Positive")
else:
    print("Negative")

Positive

In [6]:
# Even or Odd

num = int(input("Enter the Integer : "))
if num%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [12]:
#Sum of First N numbers

num = int(input("Enter the Integer: "))
sum = 0 
for i in range(1,num+1):
    sum += i

print(sum)

55

In [13]:
#sum of number in a given range

st = int(input("Enter the Start Integer: "))
end = int(input("Enter the End Integer: "))
sum = 0 
for i in range(st,end+1):
    sum += i

print(sum)

144

In [18]:
#greatest of Two Numbers:

num1 = int(input("Enter the numbers: "))
num2 = int(input("Enter the numbers: "))
if num1 > num2:
    print(f"{num1} is Greater")
else:
    print(f"{num2} is Greater")

23 is Greater

In [2]:
#greatest of three numbers:

num1 = int(input("Enter the numbers: "))
num2 = int(input("Enter the numbers: "))
num3 = int(input("Enter the number: "))
if num1 > num2 and num1>num3:
    print(f"{num1} is Greater")
elif num2 > num1 and num2 > num3:
    print(f"{num2} is Greater")
else:
    print(f"{num3} is greater")

21 is Greater

In [10]:
#Leap year or not

year = int(input("Enter the Year: "))

if (year%400 == 0) or (year%4==0 and year%100!=0):
    print(f"{year} is a Leap Year")
else:
    print(f"{year} is not a Leap Year")

2000 is a Leap Year

In [5]:
#prime number

num = int(input("Enter the number: "))
fact = 1
for i in range(2, num):
    if (num%i == 0):
        fact += 1
        
if fact == 1:
    print("It is prime")
else:
    print("Not Prime")

It is prime

In [12]:
#prime number within range

num1 = int(input("Enter the Start number: "))
num2 = int(input("Enter the End number: "))
primes = []

for i in range(num1, num2+1): 
    fact = 0
    for j in range(2, i): 
        if (i%j == 0): 
            fact = 1

    if fact == 0:
        primes.append(i)
    
print(primes)

[2, 3, 5, 7]

In [15]:
#Sum of digits of the Number

num = int(input("Enter the Number: "))
sum = 0
while num != 0:
    digit = int(num%10)
    sum += digit
    num = num/10

print(sum)

15

In [3]:
#Reverse of the Number

num = int(input())
reverse = 0
while num!=0:
    digit = num%10
    reverse = (reverse*10) + digit
    num = num //10

print(reverse)

654321

In [7]:
''' Palindrome or not
The Numbers that when reversed is the same as the original number itself are known as Palindromic Numbers.'''

num = int(input("Enter the number: "))
temp = num
sum = 0
while num != 0:
    sum = (sum*10) + (num%10)
    num = num//10
    
if sum == temp:
    print("It is palindrome")
else:
    print("Not a Palindrome")

It is palindrome

In [13]:
'''Armstrong Number or Not
The Numbers that can be represented ad the sum of the digits raised to the power of the number of digits in the number are called Armstrong numbers.
'''

num = int(input())
temp = len(str(num))
stat = num
sum = 0
while num != 0:
    reverse = num % 10
    sum += reverse**temp
    num = num//10

if stat == sum:
    print("It is Armstrong")
else:
    print("It is not Armstrong")

It is Armstrong

In [19]:
#Armstrong number in the given range

low = int(input("Enter the Lower value"))
high = int(input("Enter the Higher value"))
Armstrong = []
for i in range(low, high+1): 
    temp = len(str(i))
    stat = i
    sum = 0
    while i != 0:
        rev = i%10 
        sum += rev**temp
        i = i//10

    if stat == sum:
        Armstrong.append(stat)

print(Armstrong)

[153, 370, 371, 407]

In [41]:
'''Fibonacci Series upto n'th term
It’s a unique sequence where the next number is the sum of previous two numbers.
Where the first two terms are always 0 and 1'''

limit = int(input("Enter the limit :"))

n1 = 0
n2 = 1
print(n1, n2, end = " ")
for i in range(2, limit):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end= " ")

0 1 1 2 3 5 8 13 21 34

In [34]:
#Factorial of a Number

num = int(input("Enter the number to get the Factorial :"))
fact = 1
for i in range(num, 1, -1):
    fact *= i

print(fact)

3628800

In [42]:
# Program to find Power of a Number

base = int(input("Enter the base Value:"))
power = int(input("Enter the Power value: "))

print(base ** power)

8

In [44]:
# Factor of a Number

num = int(input("Enter the Number to get the Factor of it: "))

for i in range(1, num):
    iter = num%i 
    if iter == 0:
        print(f"{i} is factor of {num}")

1 is factor of 10
2 is factor of 10
5 is factor of 10

In [62]:
''' Strong Number or Not
A Number that is equal to the sum of the factorial of it's individual digits is known as Strong Number.'''

num = int(input("Enter the Number: ")) # 145
temp = num # 145=145
sum = 0
sum1 = 0

while num>0: # 145>0 ; 14>0 ; 1>0
    rev = num%10 # 145%10 = 5 ; 14%10 = 4 ;
    fact = 1
    for i in range (rev, 1, -1): # 5, 4, 3, 2 ; 4, 3, 2
        fact *= i #120 ; 24 ;
    sum += fact # 0+=120 = 120 ; 120+=24 = 144 ;
    num = num//10 # 145//10 = 14 ; 14//10 = 1
if sum == temp:
    print("It is Strong Number")
else:
    print("Not a Strong Number")

It is Strong Number

In [71]:
''' Perfect Number or Not
A Number that can be represented as the sum of all the factors of the number is known as a Perfect Number.'''

num = int(input("Enter the Number : ")) # 6
sum = 0
for i  in range(1, num): # 1,2,3,4,5
    if num%i == 0: # 6%1 == 0  ; 6%2 == 0 ; 6%3 == 0 ; 6%3 == 0 => Condition Fails ;
        sum += i # 0 += 1 = 1; 1 += 2 = 3 ; 3 += 3 = 6 ;

if num == sum:
    print(sum , "is a Strong Number")

28 is a Strong Number

In [92]:
''' Automorphic Number or Not
A number whose square ends with the same number is known as an Automorphic number.'''

num = int(input("Enter the number : ")) # 76

if num<10:
    sq = num**2
    rem = sq%10
    print("running first loop")
    if num == rem:
        print("It is Automorphic Number")
    else:
        print("It is not Automorphic Number")
elif num<=100:
    sq = num**2
    rem = sq%100
    print("running second loop")
    if num == rem:
        print("It is Automorphic Number")
    else:
        print("It is not Automorphic Number")

running second loop
It is Automorphic Number

In [93]:
# Automorphic Number or Not

num = int(input("Enter the number : ")) # 5

if num<10:
    sq = num**2
    rem = sq%10
    print("running first loop")
    if num == rem:
        print("It is Automorphic Number")
    else:
        print("It is not Automorphic Number")
elif num<=100:
    sq = num**2
    rem = sq%100
    print("running second loop")
    if num == rem:
        print("It is Automorphic Number")
    else:
        print("It is not Automorphic Number")

running second loop
It is Automorphic Number

In [3]:
''' Harshad Number
A Number that is divisible by the sum of it's digits is known as a Harshad number.'''

num = int(input("Enter the input : "))
temp = num
sum = 0
while num>0:
    rem = num%10
    sum += rem
    num = num//10

if temp%sum == 0:
    print(f"{temp} is a Harshad Number")
else:
    print("Not a Harshad Number")

408 is a Harshad Number

In [5]:
''' Abundant Number
A Number that is smaller than the sum of all 
it's factors except the number itself is known 
as an Abundant number.'''

num = int(input("Enter the Number:"))
temp = num
sum = 0
for i in range (2, num):
    if (temp%i == 0):
        sum += i

if temp < sum:
    print(f"{temp} is a Abundant Number")
else:
    print(f"{temp} is not a Abundant Number")

12 is a Abundant Number

In [7]:
'''HCF or not
A number that can completely divide the given numbers by leaving remainder 0'''

num1 = int(input("Enter the num1 : "))
num2 = int(input("Enter the num2 : "))
hcf = 0
for i in range(1 , min(num1, num2)):
    if num1%i == 0 and num2%i == 0:
        hcf = i
        
print(f"{hcf} is the HCF of {num1} and {num2}")

12 is the HCF of 36 and 60

In [5]:
'''LCM or not

For a input num1 and num2. This method uses two following observations 

LCM of two numbers will at least be equal or greater than max(num1, num2)
Largest possibility of LCM will be num1 * num2'''

num1 = int(input("Enter the num1 : "))
num2 = int(input("Enter the num2 : "))

for i in range(max(num1, num2), (num1*num2)+1):
    if i%num1 == 0 == i%num2 == 0:
        lcm = i
        break
print(f"{lcm} is the LCM of {num1} and {num2}")

180 is the LCM of 36 and 60

In [7]:
'''Binary to Decimal 
'''

num = int(input())
decimal = 0
base = 0
while num > 0:
    rem = num%10
    decimal += rem * (2**base)
    num = num//10
    base += 1
print(decimal)

15

In [9]:
'''Octal to Decimal 
'''

num = int(input())
octal = 0
base = 0
while (num > 0):
    rem = num%10
    octal += rem*(8**base)
    num = num//10
    base += 1
print(octal)

219

In [10]:
'''Hexadecimal to Decimal'''

num = input()
base = 0
hex = 0
length = len(num)
for i in range(length-1,-1,-1):
    if '0' <= num[i] <= '9':
        digit = num[i]
        hex += int(digit) * (16**base)
        base += 1
    elif 'A' <= num[i] <= 'F':
        digit = num[i]
        hex += (ord(digit)-55) * (16**base)
        base += 1
print(hex)

700707